body {
  background-image:url(../Siberia.jpg);
  background-size: cover;
}
/* ---Navbar--- */
.nav{
  display: flex;
  background-color: #000000;
  padding: 10px;
  width: auto;
}
.nav div {
  align-self: center;
}
.navLink{
  text-decoration: none;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
  font-weight: bold;
  margin: 0 15px;
}
.navLink:hover{
  color: aqua;
  text-decoration: none;
  transform:scale(1.07);
}
.nav div{
  list-style: none;
}
.navTitle{
  text-decoration: none;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
  font-weight: bold;
  margin: 0 15px;
}
.navTitle:hover{
  text-decoration: none;
  color: aqua;
}
.fa-bars {
  float: right;
  color: white;
  align-self: center;
}
.fa-arrow-up {
  color: White;
}

/* ---User info and Change PW / Log Out button--- */
.headerRight {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
}
.headerRight p {
  color:white;
  margin: auto 0;
}
.logoutButton {
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}
.logoutButton:hover {
  transform:scale(1.07);
}
.changePWButton {
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  padding: 0 5px;
}
.changePWButton:hover {
    color: black;
    text-decoration: none;
    transform:scale(1.07);
}
.burger {
  display: none;
  margin-left: 20px;
  color: black;
  text-decoration: none!important;
}
@media screen and (max-width: 650px) {
  .burger {display: flex; color:white;}
  .nav {justify-content: center;}
  .navTitle {margin: 0 auto;}
  .navLink {display: none;}
  .headerRight {display: none; margin: 0 auto;}
  .overviewTitle {font-size: 20px!important;}
  h2 {font-size: 30px!important;}
  .addUser {width: 69%!important;}
  .uploadForm {width: 69%!important;}
}
@media screen and (max-width: 650px) {
  .nav.responsive {display: flex; position: relative; flex-direction: column;}
  .nav.responsive .burger {
    justify-content: center;
  }
  .nav.responsive a {
    display: flex;
    align-self: center;
  }
  .nav.responsive .headerRight {
    display: flex;
  }
}

/* ---Index content--- */
.column{
  float: left;
  width: 33.33%;
  padding: 5px;
}
#welcomeScreen {
  display: none;
  position:absolute;
  top: 0;
  height: 100%;
  width:100%;
  background-color:black;
  text-align: center;
}
#welcomeScreen h1 {
  margin-top: 300px;
  color: white;
}
.title {
  text-align: center;
	color: Black;
	height: 50px;
	letter-spacing: 1px;
  margin-top: 10px;
}
#indexContainer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 2px solid black;
  font-weight: bold;
  background-color: black;
  color: white;
}

/* ---Images for gallery overview--- */
.overviewImg{
  display: flex;
  width: 100%;
  height: 80%;
  object-fit: cover;
  cursor: pointer;
  margin: 0 auto;
}
.overviewImg:hover{
  transform:scale(1.07);
  border-radius: 5px;
}
.overviewTitle{
  display: flex;
  color: white;
  background-color: black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  justify-content: center;
  width: 55%;
  margin: 0 auto ;
}

/* ---Galley images--- */
.galleryImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.galleryImg:hover{
  transform:scale(1.07);
  border-radius: 5px;
}

/* ---Gallery page links--- */
#pageLinks{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.pages{
  font-size: large;
  padding: 4px 10px;
  background-color: black;
  color: white;
  border-radius: 2px;
  margin: 0 2px;
  margin-bottom: 10px;
}
.pages:hover{
  text-decoration: none;
  color: aqua;
}
.showPage {
  text-align:center;
  font-weight: bold;
  margin-top: 10px;
  background-color: black;
  color:white;
  border-radius: 5px;
  width: 100%;
}

/* ---Modal content / window--- */
.customModalContent{ 
  background-color: transparent;
  max-height: 850px;
  max-width: 1450px;
  width: auto;
  height: auto;
  margin:0 auto;
  margin-top: 20px;
  object-fit: scale-down;
}
#myModal{
  height: 100%;
  width: 100%;
  position:fixed;
  background-color: rgba(0, 0, 0, .5);
  display: none;
  z-index: 20;
  overflow-x: scroll;
}
#close{
  color: white;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 20px;
  float: right;
  text-align: right;
  max-height: 0;
  margin-top: 10px;
}
#deleteButton{
  border: 1px solid black;
  border-radius: .2em;
  background-color: red;
  color: white;
  margin-top: 10px;
  margin-right: 10px;
  height: 25px;
  padding:0 10px;
  text-align: center;
}
#deleteButton:hover{
  text-decoration: none;
  transform:scale(1.07);
}
#deleteButtonVid{
  border: 1px solid black;
  border-radius: .2em;
  background-color: red;
  color: white;
  margin-top: 10px;
  margin-right: 10px;
  height: 25px;
  padding:0 10px;
  text-align: center;
}
#deleteButtonVid:hover{
  text-decoration: none;
  transform:scale(1.07);
}
.arrow{
  background:transparent;
  height: 120px;
  align-self: center;
}
.arrow:hover{
  cursor: pointer;
  transform:scale(1.07);
}

/* ---Upload forms--- */
.uploadForm{
  width: 33%;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0 auto;
  padding:20px 0;
  margin-top: 30px;
  text-align: center;
}
#fileToUpload{
  border: 2px solid black;
  padding: .2em .4em;
  border-radius: .2em;
  background-color: black;
  transition: 1s;
  color: white;
  margin-bottom: 20px;
}
#submitUpload{
  margin-top: 20px;
  border: 2px solid black;
  padding: .2em .4em;
  border-radius: .2em;
  background-color: black;
  color: white;
}
#submitUpload:hover{
  transform: scale(1.07);
}
#categories{
  margin-top: 10px;
}

/* ---Video gallery--- */
.galleryVid{
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.galleryVid:hover{
  transform:scale(1.07);
  border-radius: 5px;
}
#modalVid {
  object-fit: cover;
}

/* ---User management--- */
.title{
  text-align: center;
}
.addUser{
  width: 30%;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0 auto;
  padding:20px 0;
  margin-top: 30px;
  text-align: left;
}
.addUser table{
  margin: 0 auto;
}
.labelRole{
  display: block;
  text-align: center;
  margin-top: 10px;
}
.addUser select{
  display: block;
  margin: 0 auto;
}
#addUserButton{
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  border: 2px solid black;
  padding: .2em .4em;
  border-radius: .2em;
  background-color: black;
  color: white;
}
#addUserButton:hover{
  transform:scale(1.07);
}
#editUserButton{
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  border: 2px solid black;
  padding: .2em .4em;
  border-radius: .2em;
  background-color: black;
  transition: 1s;
  color: white;
}
.users{
  text-align: center;
  display: flex;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  color: white;
  width: 80%;
  margin-top: 30px;
  overflow-y: scroll;
}
.aButton{
  color: White;
  font-weight: bold;
}
.aButton:hover{
  text-decoration: none;
  color: aqua;
}
#changePWButton {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  border: 2px solid black;
  padding: .2em .4em;
  border-radius: .2em;
  background-color: black;
  color: white;
}
#changePWButton:hover {
  transform: scale(1.07);
}
